@font-face {
  font-family: "BlenderProHeavy";
  /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.com/e0644440-9dc1-433d-a852-23d7d5f44df7%2FBlender-Pro-Heavy.otf?v=1579022118036"),
    url("https://cdn.glitch.com/e0644440-9dc1-433d-a852-23d7d5f44df7%2FBlender-Pro-Heavy.otf?v=1579022118036")
      format("otf");
}

@font-face {
  font-family: "BlenderProMedium";
  /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.com/e0644440-9dc1-433d-a852-23d7d5f44df7%2FBlender-Medium.otf?v=1579029300584"),
    url("https://cdn.glitch.com/e0644440-9dc1-433d-a852-23d7d5f44df7%2FBlender-Medium.otf?v=1579029300584")
      format("otf");
}

@font-face {
  font-family: "Ponde";
  src: url("https://cdn.glitch.me/e0644440-9dc1-433d-a852-23d7d5f44df7%2Fponde___.ttf?v=1636136028723"),
    url("https://cdn.glitch.me/e0644440-9dc1-433d-a852-23d7d5f44df7%2Fponde___.ttf?v=1636136028723")
      format("ttf");
}

@font-face {
  font-family: "PixelFont";
  src: url("https://cdn.glitch.me/e0644440-9dc1-433d-a852-23d7d5f44df7%2FSpookyPixelFont-Regular.ttf?v=1636136053962"),
    url("https://cdn.glitch.me/e0644440-9dc1-433d-a852-23d7d5f44df7%2FSpookyPixelFont-Regular.ttf?v=1636136053962")
      format("ttf");
}

.blenderproH {
  font-family: "BlenderProHeavy", sans-serif;
}

.BlenderProM {
  font-family: "BlenderProMedium", sans-serif;
}

.ponde {
  font-family: "Ponde", sans-serif;
}

.pixelfont {
  font-family: "PixelFont", sans-serif;
}
